@charset "utf-8";

body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

.container {
  width: 100%;
}


header {
  background-color: rgba(236, 100, 75, 0.9);
  padding: 1em;
  margin: -1em;
}

h1 {
  font-size: 3em;
  font-family: 'Baloo Paaji', cursive;
  color: #2c2c2c;
  text-align: center;
  padding: 1em;
  margin-top: 2rem;
}


.intro {
  text-align: center;
  margin-top: -3em;
  padding-bottom: 3em;
  font-size: 1.3em;
}


.todoWrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 5em;
  padding: 1em;
}

h2 {
  background-color: rgb(189, 195, 199);
  padding: 1em;
  color: #fff;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 2em;
}

#actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 5em 0px -4em 75em;
  border: 1px solid rgb(162, 222, 208);
  padding: 1em 4em;
  border-radius: 0.5em;
  background-color: rgb(162, 222, 208);
  color: #2c2c2c;
  -webkit-transition: background-color 1s ease-out, border-right: 2s, border-bottom 2s; /*  Older Android browser, chrome, mobile safari, safari & blackberry */
  -moz-transition: background-color 1s ease-out border-right: 2s, border-bottom 2s; /* Firefox 4 to 15 */
  -o-transition: background-color 1s ease-out border-right: 2s, border-bottom 2s; /* Opera */
  transition: background-color 1s ease-out border-right: 2s, border-bottom 2s;
}

.btn:hover {
  background-color: rgb(104, 195, 163);
}

.btn:active {
  background-color: rgb(162,222, 208);
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.btn-orange {
  background-color: rgba(236, 100, 75, 0.7);
  padding: 1em 4em;
  border: 1px solid rgb(236, 100, 75);
  border-radius: 0.5em;
  color: #fff;
  margin: 5em 14em;
  -webkit-transition: background-color 1s ease-out, border-right: 2s, border-bottom 2s; /*  Older Android browser, chrome, mobile safari, safari & blackberry */
  -moz-transition: background-color 1s ease-out border-right: 2s, border-bottom 2s; /* Firefox 4 to 15 */
  -o-transition: background-color 1s ease-out border-right: 2s, border-bottom 2s; /* Opera */
  transition: background-color 1s ease-out border-right: 2s, border-bottom 2s;
}

.btn-orange:hover {
  background-color: rgb(236, 100, 75);
}

.btn-orange:active{
  background-color: rgba(236, 100, 75, 0.7);
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

#todos {
  height: calc(100vh - 30px);
  border: 1px solid rgb(189, 195, 199);
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
}

#todos p {
  border-bottom: 1px solid rgb(162, 222, 208);
  padding: 1em;
  margin: 0 0.75em;
}

#todos input {
  background-color: rgba(238, 238, 238, .6);
  border: none;
  border-bottom: 1px solid rgba(236, 100, 75, 0.7);
  color: #2c2c2c;
  padding: 1em;
  margin: 0 0.75em;
  width: 80%;
}


/*
#todos p::before {
  content: "EDIT ";
  padding: 1em;
  font-size: 0.75em;
  color:  rgba(236, 100, 75, 0.9);
}*/

#ids, #titles, #descriptions, #completeds {
  text-align: center;
  height: 100%;

}

#ids {
  display: none;
}


#titles { width: 30%; }

#descriptions { width: 50%; }

#completeds { width: 20%; }

.newWrapper {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#newTodo {
  background-color: rgba(162, 222, 208, .9);
  border-radius: 25px;
  border: 4px solid #fff;
  display: flex;
  position: absolute;
  width: 60%;
  height: 70%;
  top: 20%;
  left: 20%;
  font-size: 1.25em;
  align-items: center;
  justify-content: center;
  display: none;
}

#newTodo h2 {
  text-align: center;
  padding: 1em 6em;
  margin-top: 0.5em;
  margin-left:3em;
  display: inline-block;
}

#newTodo input {
  border: 1px solid rgb(189, 195, 199);
  padding: 1em;
  width: 74%;
}

#title-field { margin-left: 4em;  }


#titleNew, #descrNew, #statusNew {
  display: block;
  margin: 1em;
  padding: 0.5em 0;
}

#deleteBtn {
  border: 2px solid orange;
  display: inline-block;
  font-size: 1.1em;
  font-family: Arial, sans-serif;
  color: orange;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin: 0em 1em 2em 1em;
  -mox-border-radius: 50px;
  -webkit-border-radius: 50px;
   border-radius: 50px;
   display: none;
}

#deleteBtn::after {
  content: 'x';
}

#deleteBtn:hover {
  background: orange;
  border: 2px solid white;
  color: white;
}

footer p {
  text-align: center;
  padding: 1em;
  margin-top: 2.5em;
}

footer a {
  color: rgb(236, 100, 75);
}
