@charset "utf-8";

#todos {
  width: 100%;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
}

#ids, #titles, #descriptions, #completeds {
  text-align: center;
  border: 1px solid black;
  height: 100%;
}

#ids { width: 10%; }

#titles { width: 30%; }

#descriptions { width: 50%; }

#completeds { width: 10%; }
